
@{
    ViewBag.Title = "Welcome To Our Website";
}
<h1>
    Welcome To Our Website
</h1>
<h2>
    @Html.ActionLink("MoviesList", "UsersMoviesList", "Account")
</h2>

<h4>
    @Html.ActionLink("Logout", "Index", "Home")
</h4>